<!DOCTYPE html>
<html>
<head>
	<title>Begin Campaign</title>
</head>
<body>
	<h1> Do you want to begin this Campaign? </h1>
	<div>
		<%= form_tag @task do |f| %>
			<%= f.submit "Begin" %>
		<% end %>
	</div>
	<div>
		<%= form_tag @task do |f| %>		
			<%= f.submit "Quit" %>
		<% end %>
	</div>
</body>
</html>