<!DOCTYPE html>
<html>
<head>
	<title> Wake up!</title>
</head>
<body>
	<h1> Wake up!</h1>
	<p> Friend: We got a problem. We are going to need all of the help we can to get through this...</p>
	<%= form_for @task do |f| %>
		<% f.submit "Get on your feet" %>
	<% end %>
</body>
</html>