<!DOCTYPE html>
<html>
<head>
	<title>Begin Campaign</title>
</head>
<body>
	<h1> Do you want to begin this Campaign? </h1>
	<div>
		<button onClick="<%= f.start %>"></button>
	</div>
	<div>
		<button onClick="<%= f.quit %>"></button>
	</div>
</body>
</html>