

.button_characters {
    position: absolute;
    bottom: 5em;
    right: 29em;
}

.delete_character {
    position: absolute;
    bottom: 5em;
    left: 35em;
}

.edit_character {
    position: absolute;
    bottom: 5em;
    left: 19em;
}